<%- include ('partials/header.ejs') -%> 
<%- include ('partials/navbar.ejs') -%> 

<!-- essa pagina sera a primeira antes do cadastro do usuario e medicos
sera disponibilizados toda informação que necessitamos para encantar o usuario
redirecionar para uma pagina de perguntas onde o usuario pergunta e a medlife responde
redirecionar para uma pagina para cadastro de usuario
necessario modificar a navbar para que não apareça os campos de formularios -->



    <header>
      <!-- victor retirar a parte cinza do video e fazer com que ele fique do tamanho da tela, tambem vamos colocar uma pelicula por cima do video, e vamos colocar algumas frases em cima do video, como se o video fosse em background -->
        <video preload="auto"; controls loop >
          <source src="video/Street - 19627.mp4"  type="video/mp4">
        </video>
    </header>
    
      <div class="container">
        <br>
        <h1>Med Life</h1>
        <p>A empresa que trabalha para a sua saúde</p>
        <hr>
        <section class="container">
          <h3> Objetivos </h3>
          <h4> Confira, Confie, a saúde é fácil, quando em boas mãos, seja MedLife </h4>
            <br>
              <p><strong>Nosso objetivo principal é otimizar o processo entre paciente e médico.</strong></p>
              <p><strong>Diminuindo a espera em filas.</strong></p>
              <p><strong>Mantendo você sempre bem informado.</strong></p>
              <p><strong>Consultas precisas, direto com o especialista.</strong></p>
              <p><strong>Campanhas de vacinação.</strong></p>
              <p><strong>Sem necessida de buscar exames.</strong></p>
              <p><strong>Atendimento via app.</strong></p>
              <p><strong>Tudo isso na comodidade da sua casa.</strong></p>
              <br>
              <br>
              <p><strong>Gostaria de saber mais sobre a Med Life? click <a href="#"> Aqui! </a></strong> </p>
        </section>
   <!--  <div id="beneficios">
      <ul type="none"> 
        <p> <strong> A Inovação vem a partir da Crise</strong></p>
        <br>
        <li>Triagem a distância</li> 
        <li>Quadro clínico sem sair de casa</li>  
        <li>Diminui e evita possiveis contaminações com outros pacientes </li> 
        <li>Avaliação e estatísticas da saúde local e nacional</li> 
        <li>Melhora logística da cidade</li> 
        <li>Disponibiliza os postos de saúde mais próximo dos pacientes</li> 
        <li>Carteira de vacinação do paciente no sistema do nosso aplicativo.</li> 
        <li>Notificação de novas vacinas quando disponíveis </li> 
      </ul>
    </div>
   </div> -->
  </div>
<%- include ('partials/footer.ejs') -%> 