<%- include ('partials/header.ejs') -%> 
<%- include ('partials/navbar.ejs') -%> 






<div class="container_1"> 

    <div id="primeira_noticia">
         <h1  class="titulo_noticias"   >
             <strong>  Ministro da Saúde defende ampliar cobertura de vacinação como prioridade para o mundo </strong>
        </h1>

        <h4  class= "texto_noticias"  >
            “Ouso dizer que a cobertura vacinal é o caminho que nos une. Assim, o Brasil clama a todos que definam ações de vacinação em seus países em consonância com as metas globais”, propôs o ministro da Saúde, Luiz Henrique Mandetta, durante plenária da 72ª Assembleia Mundial da Saúde, que acontece em Genebra, na Suíça, entre 20 e 28 de maio.  Atualmente, diversos países têm registrado o retorno de doenças, que seriam preveníeis com vacinação, caso do sarampo, devido aos baixos indicadores vacinais. Durante o discurso, o ministro enfatizou que, com o atual cenário de intenso fluxo de pessoas, é necessária a promoção de ações de integração entre vigilância e atenção em saúde.
        </h4>
        <button > <a href="https://www.saude.gov.br/noticias/agencia-saude/45461-ministro-da-saude-defende-ampliar-cobertura-de-vacinacao-como-prioridade-para-o-mundo">  Ver mais</button>  </a> 
    </div>

    <div id="segunda_noticia">
        <h1    class="titulo_noticias" >   
            <strong>  Brasil e EUA vão destinar R$ 14 milhões para pesquisas </strong>
        </h1>
        <h4   class= "texto_noticias"   >
            O ministro da Saúde, Gilberto Occhi, e o secretário de Saúde e Serviços Humanos dos Estados Unidos (EUA), Alex Azar, comprometeram-se em investir R$ 14 milhões para pesquisas e inovação em saúde. Os editais serão lançados no segundo semestre deste ano. O compromisso foi tratado nesta terça-feira (22), na 71ª Assembleia Mundial da Saúde, em Genebra (Suíça).
            O lançamento de editais conjuntos para pesquisa em saúde irão priorizar áreas como doenças infecciosas, HIV/aids e suas comorbidades, saúde mental (em especial, sua relação com HIV/aids e zika), doenças neurodegenerativas, complicações neurológicas de HIV/aids e zika, saúde ambiental (em especial, sua relação com zika), doenças cardiovasculares e doenças não transmissíveis.
        </h4>
        <button > <a href="https://www.saude.gov.br/noticias/agencia-saude/43324-brasil-e-eua-reforcam-cooperacao-em-saude-e-destinam-r-14-milhoes-para-editais-de-pesquisa">  Ver mais</button>  </a> 
    </div>

</div>

<div class="container_2"> 

    <div id="terceira_noticia">
        <h1    class="titulo_noticias" >   
            <strong>  Ministério da Saúde garante suporte psicológico a profissionais do SUS </strong>
        </h1>
        <h4   class= "texto_noticias"   >
                Pensando na saúde mental dos milhares de profissionais de saúde que estão à frente do combate à COVID-19, o Ministério da Saúde disponibilizará, entre maio e setembro, um canal para teleconsulta psicológica para esses trabalhadores. A iniciativa é um reconhecimento da necessidade de apoio a esses profissionais que, pelo trabalho intenso, com riscos de contaminação elevados e enfrentando condições adversas, podem ter sintomas como ansiedade, depressão, irritabilidade, transtorno de estresse agudo e burnout, dentre outros. Ao todo, serão investidos R$ 2,3 milhões.
        </h4>
        <button > <a href="https://www.saude.gov.br/noticias/agencia-saude/46767-ministerio-da-saude-garante-suporte-psicologico-a-profissionais-do-sus">  Ver mais</button>  </a> 
    </div>
    <div id="quarta_noticia">
        <h1    class="titulo_noticias" >   
            <strong>  Coronavírus: Brasil registra 45.757 casos e 2.906 mortes </strong>
        </h1>
        <h4   class= "texto_noticias"   >
            O Ministério da Saúde registra 45.757 casos de coronavírus no Brasil e 2.906 mortes até as 14h desta quarta-feira (22), segundo informações repassadas pelas Secretarias Estaduais de Saúde. Até agora, do total de casos confirmados, 25.318 pessoas são consideradas recuperadas, correspondendo a 55,3% dos casos diagnosticados e outras 17.533 permanecem em acompanhamento.
        </h4>
        <button > <a href="https://www.saude.gov.br/noticias/agencia-saude/46766-coronavirus-45-757-casos-e-2-906-mortes">  Ver mais</button>  </a> 
    </div>

</div>
<div class="container_3"> 
    
    <div id="quinta_noticia">
        <h1    class="titulo_noticias" >   
            <strong>  Ministério da Saúde amplia para 46,2 milhões aquisição de testes </strong>
        </h1>
        <h4   class= "texto_noticias"   >
            O Ministério da Saúde ampliou de 23,9 milhões para 46,2 milhões a previsão de aquisição de testes, seja por compras diretas ou por meio de doações, para diagnóstico da COVID-19. Deste total, são 24,2 milhões de testes RT-PCR (biologia molecular) e 22 milhões de testes rápidos (sorologia). A iniciativa faz parte dos esforços do Ministério da Saúde na busca de novas compras no mercado nacional e internacional para ampliação da testagem do coronavírus no Brasil.
        </h4>
        <button > <a href="https://www.saude.gov.br/noticias/agencia-saude/46760-ministerio-da-saude-amplia-para-46-2-milhoes-aquisicao-de-testes">  Ver mais</button>  </a> 
    </div>
    <div id="sexta_noticia">
        <h1    class="titulo_noticias" >   
            <strong>  Chegam ao país mais 500 mil testes de biologia molecular </strong>
        </h1>
        <h4   class= "texto_noticias"   >
            Essa é a primeira parte dos 10 milhões de testes adquiridos pelo Ministério da Saúde via OPAS para testagem da COVID-19 no Brasil. O restante chegará de forma escalonada, nas próximas semanas
            O primeiro lote com 500 mil testes para diagnóstico da COVID-19, comprados pelo Ministério da Saúde via Organização Pan-Americana da Saúde (OPAS), chegou nesta quarta-feira (22) ao Brasil. A distribuição aos estados começa ainda nesta semana. O quantitativo faz parte dos 10 milhões de testes RT-PCR (biologia molecular) adquiridos pelo Ministério da Saúde via Fundo Estratégico da OPAS. O restante dos testes chegará de forma escalonada, sendo cerca de 500 mil por semana. Esses testes foram produzidos pelo laboratório Seegene, da República da Coreia.
        </h4>
        <button > <a href="https://www.saude.gov.br/noticias/agencia-saude/46768-chega-ao-pais-mais-500-mil-testes-de-biologia-molecular">  Ver mais</button>  </a> 
    </div>

</div>



















<%- include ('partials/footer.ejs') -%> 
